:root {
  --header: #33658a;
  --primary: #A9927D;
  --secondary: #b47eb3;
}


body,html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    
    
  }

/*Primary header for site navigation. Need to figure out why header isn't the right height.
  Need to make logo selectable for home.
  Need to make header sticky.
  */
  .primary-header {
  overflow: hidden;
  background-color: var(--header);
  justify-content: space-between;
  }
  .header-nav {
    float: left;
    color: var(--primary);
    text-align: center;
    padding:10px;
    text-decoration: none;
    font-size: 16px;
    border: var(--primary);
  }
  .header-nav a:hover {
    background-color: var(--primary);
    color: white;
  }
  .header-nav a:active {
    background-color: var(--secondary);
    color: white;
  }

  

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("assets/media/photos/PSX_20220310_093612.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#sky {
  width: 150px;
  height: auto;
  border-radius: 100px;
  position:relative;
  float: left;
  padding: 20px;
}
.container {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 35px;
  justify-content: center;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 5px 10px var(--header);
}

/*Portfolio container styling stuff*/
.flexcontainer{
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 35px;
  justify-content: center;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 5px 10px var(--header);
  display: flex;
  flex-flow: column;
}
.port-card {
  color: white;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;

}
.port-card2 {
  color: white;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;

}
#imagecontainer {
  background: url("https://cdn.vox-cdn.com/thumbor/fX9onefrTRueVVozZ1s7XlIQpps=/0x0:220x122/1400x1050/filters:focal(93x44:127x78):format(gif)/cdn.vox-cdn.com/uploads/chorus_image/image/71396949/50BCC55B_A4ED_48A3_946F_F07D8093B244.0.gif") no-repeat;
  width: max-content;
  height: max-content;
  object-fit: fill;
  border: 1px solid;
  border-radius: 10px;
}