:root {
  --header: #33658a;
  --primary: #A9927D;
  --secondary: #b47eb3;
}


body,html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    min-width: 478px;
    
  }

/*Primary header for site navigation. Need to figure out why header isn't the right height.
  
  */
  header {
    flex: block;
  }
  h1 {
    font-size: 48px;
    color: var(--primary);
    padding-top: 2%;
    padding-left: 2%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  button {
    padding: 10px;
    margin: 10px 10px 10px 0;
    background-color: var(--primary);
    color: black;
    border-radius: 14px;
    box-shadow: 5px 5px var(--header);
  }
  button a {
    color: black
  }
  button:hover {
    background-color: var(--secondary);
  }
  .primary-header {
  background-color: var(--header);
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  
}
.header-nav {;
  color: var(--primary);
  text-align: end;
  text-decoration: none;
  font-size: 26px;
  padding: 25px;
    
  }
  .header-nav a:hover {
    padding: 10px;
    background-color: var(--primary);
    color: white;
  }
  .header-nav a:active {
    padding: 10px;
    background-color: var(--secondary);
    color: white;
  }

  

/* The hero image */
/*w3 schools helped me figure out how to get the hero to display right*/
.hero {
  position: relative;
  border-radius: 0 10px 10px 0;
}
.hero-overlay {
  text-align: left;
  position: absolute;
  z-index: 0;
  padding-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  color: white;

}

#sky {
  width: 150px;
  height: auto;
  border-radius: 100px;
  position:relative;
  float: left;
  padding: 20px;
}
.container {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 5px 10px var(--header);
}

/*Portfolio container styling stuff*/
.flexcontainer{
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 35px;
  justify-content: center;
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 5px 10px var(--header);
  display: flex;
  flex-wrap: wrap;
}
.port-card {
  flex-basis: 100%;
  color: white;
  padding: 25px;
  margin: 2%;

}
.port-card2 {
  color: white;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  margin: 2%;

}
#imagecontainer {
  background: url("https://cdn.vox-cdn.com/thumbor/fX9onefrTRueVVozZ1s7XlIQpps=/0x0:220x122/1400x1050/filters:focal(93x44:127x78):format(gif)/cdn.vox-cdn.com/uploads/chorus_image/image/71396949/50BCC55B_A4ED_48A3_946F_F07D8093B244.0.gif") no-repeat;
  width: max-content;
  height: max-content;
  object-fit: fill;
  border: 1px solid;
  border-radius: 10px;
}
footer {
  background-color: var(--header);
  text-align: center;
  padding: 30px;
  margin-top: 10%;
}